/* CSS for the HTML structure */
body {
    display: flex;
    flex-direction: row;
    resize: none;
    margin: 0;
}

.navbar {
    background-color: rgb(0, 204, 255);
    width: 280px;
    height: 100vh;
}

.main-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.topbar {
    background-color: green;
    height: 150px;
}

.main-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.parking-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: auto auto;
}

.left-road,
.right-road {
    background-image: url('../images/road-leftandright.png');
    background-size: cover;
    position: relative;
    width: 5%;
    height: 100%;
}

.upper-road, 
.middle-road, 
.bottom-road {
    background-image: url('../images/road.png');
    background-size: contain;
    position: relative;
    width: 100%;
    height: 12%;
}

.parking-center {
    width: 90%;
    height: 100%;
}

.top-parking, 
.bottom-parking {
    resize: none;
    background-image: url('../images/parkinglot2.png');
    background-size: contain;
    background-position: left;
    width: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.top-parking {
    height: 251px;
    z-index: 100000 !important;
}

.bottom-parking {
    height: 250px;
}

.grid-container {
    align-content: center;
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(12, 122px);
    grid-gap: 4px;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.grid-item {
    color: #d1bd13;
    display: flex;
    justify-content: center;
    height: 100px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
}

.grid-item img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 5px; 
}

.grid-item.occupied {
    font-size: 40px;
}
